/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/files/*
!/storage/files/.gitkeep
/storage/foto/*
!/storage/foto/.gitkeep
/storage/_inspect_files/
/storage/_inspect_foto/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
